/* Fonte Geral */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navegação */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 600;
}

.nav-link {
    font-weight: 400;
}

/* Jumbotron */
.jumbotron {
    margin-bottom: 0;
    padding: 2rem;
    background-color: #17a2b8; /* Cor de fundo do banner */
    color: #ffffff;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbotron p {
    font-size: 1.2rem;
}

/* Formulários */
.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

/* Botões */
.btn {
    border-radius: 0.25rem;
}

/* Tabelas */
.table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #17a2b8; /* Cor de fundo do cabeçalho */
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Rodapé */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #343a40;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 2rem;
    }

    .jumbotron p {
        font-size: 1rem;
    }

    .navbar-brand,
    .nav-link {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .table th,
    .table td {
        padding: 0.5rem;
    }
}
