body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

h2 {
    color: #343a40;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-group label {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

#deliveryValue {
    font-size: 1.5em;
    font-weight: bold;
    color: #28a745;
}